<link href="/css/footer.css" rel="stylesheet">
<!-- footer -->
<div class="container-fluid footer">
  <div class="container">
    <!-- sectores -->
    <div class="row" style="color: white;">
      <!-- nosotros -->
      <div class="col-12 col-md-6 col-lg-4 sector">
        <a class="navbar-brand" href="/">
          <img src="/assets/logo/daylight_logo_w.svg" alt="DAYLIGHT S.A.">
        </a>
        <div class="spacer-8"></div>
        <h5>NOSOTROS</h5>
        <p>
          DAYLIGHT S.A. se destaca en el mercado por su liderazgo en la comercialización y
          distribución de materiales eléctricos, ofreciendo una amplia gama de productos
          que incluyen sistemas de iluminación, tableros eléctricos y mucho más. Con un
          enfoque en satisfacer las necesidades de empresas, negocios y el público en general.
        </p>
        <div class="spacer-8"></div>
      </div>
      <!-- contacto -->
      <div class="col-12 col-md-6 col-lg-4 sector">
        <div class="contacto">
          <h5>CONTACTO</h5>
          <!-- telefono -->
          <a class="d-flex align-items-center" href="<%= social_links.phone %>"
            target="_blank">
            <i class="bi bi-telephone"></i>
            <h6>+54 9 2634 406-086</h6>
          </a>
          <!-- correo -->
          <a class="d-flex align-items-center" href="<%= social_links.mail_send %>"
            target="_blank">
            <i class="bi bi-envelope"></i>
            <h6>contacto@daylight.com.ar</h6>
          </a>
          <!-- ubicacion -->
          <a class="d-flex align-items-center" href="<%= social_links.location %>"
            target="_blank">
            <i class="bi bi-geo-alt"></i>
            <h6>San Isidro 1037, Rivadavia, Mendoza</h6>
          </a>
          <div class="spacer-8"></div>
          <h5>REDES SOCIALES</h5>
          <!-- whatsapp -->
          <a class="d-flex align-items-center" href="<%= social_links.whatsapp %>" 
            target="_blank">
            <i class="bi bi-whatsapp"></i>
            <h6>+54 9 2634 406-086</h6>
          </a>
          <!-- instagram -->
          <a class="d-flex align-items-center" href="<%= social_links.instagram %>"
            target="_blank">
            <i class="bi bi-instagram"></i>
            <h6>daylight__rivadavia</h6>
          </a>
        <div class="spacer-8"></div>
        </div>
      </div>
      <!-- link -->
      <div class="col-12 col-md-6 col-lg-4 sector">
        <div class="">
          <h5>LINK</h5>
          <!-- quines somos -->
          <a class="d-flex align-items-center" href="/quienes-somos">
            <h6>Quines somos</h6>
          </a>
          <!-- productos -->
          <a class="d-flex align-items-center" href="/productos">
            <h6>Productos</h6>
          </a>
          <!-- trabaja en daylight -->
          <a class="d-flex align-items-center" href="/">
            <h6>Trabaja en DAYLIGHT</h6>
          </a>
          <div class="spacer-8"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="spacer" ></div>
  </div>
  <!-- gensystem -->
  <div class="container gensystem">
    <div class="text-center">
      <p>DESARROLLADO POR
        <a href="https://www.gensystem.com.ar" target="_blank">GENSYSTEM</a>, 2024
      </p>
    </div>
  </div>
</div>